---
layout: layout.njk
title: OGS ASL Button Demo
---

<h1>{{title}}</h1>

{% from './_includes/asl-button/_macro.njk' import asl %}
<div style="height: 200px"></div>
{{
    asl({
        text:"ASL Interpretation Video",
        SRtext:"for this video with a title of blankity blank blank",
        link:"https://ogs.ny.gov"
        
    })
}}