


<div class="nysds-asl-container">
<a href="{{params.link}}" class="nysds-asl-link"> 
    <div class="nysds-asl-svg"> 
    </div>

    
    <div class="nysds-asl-link-text">
        {{params.text}}
    </div>
     <span class="nysds-sr-only"> 
        {{params.SRtext}} 
    </span>
</a>
</div>

<style>
    {% include 'css/nysds-asl.css' %}
</style>

<script>
    {% include 'js/nysds-asl.js' %}
</script>