<!doctype html>
<html lang="en">
  <!-- If you're reading this: help us obi-wan can-coder, you're our only hope. Apply today: ogs.ny.gov/employment -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{title}}">
    <meta name="generator" content="11ty/eleventy">    
    
    
    <title>{{ title }}</title>
  </head>
  <body class="">
  <a href="#main-site-content-for-skiplink" class="">Skip to Main Content</a>
    
    <main class="" id="main-site-content-for-skiplink">
    {{ content | safe }}
    </main>

  </body>
</html>